body{
    background: linear-gradient(to left, #ffffff 50%, #ff0000 50%);
  background-size: 100% auto;
  width: 100%;
  align-items: center;
}
h1{
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}
fieldset {
    width: 100px;
    height:auto;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 110px;
    padding-bottom: 5px;
    margin: 0;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(206, 193, 193);
    border: 2px solid rgb(253, 252, 253);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: aliceblue;
    position: relative;
    text-align: center;
  }
  h2 {
    color: rgb(1, 1, 39);
  }
  h3{
      color: rgb(255, 0, 0);
      padding-left: 90px;
  }
  fieldset:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
.avatar {
    vertical-align: baseline;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    box-shadow: 10px 10px 5px rgb(179, 173, 173);
    border: 6px solid rgb(255, 255, 255);
  }
.avatar:hover {
    box-shadow: 0 0 5px 1px rgba(0, 140, 186, 0.5);
  }
.avatar1 {
    color: #ff0015;
    vertical-align: baseline;
    width: 40px;
    font-size: xx-large;
    height: 40px;
    border-radius: 20%;
    box-shadow: 7px 7px 5px rgb(182, 179, 179);
    border: 1px solid rgb(247, 235, 235);
    text-align: center;
    border-radius: 80%;
    padding: 20px;
    text-size-adjust: inherit;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E"); */
  }
.avatar1:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
 h5 {
    color: #a0a0a0;
  }
.avatar {
    position: absolute;
    left: -30px;
    margin-top: 15px;
    top:35px;
  }
  .avatar1 {
    position: absolute;
    left: 370px;
    bottom: 60px;
  }
  .c {
    position: absolute;
    margin-top: -80px;
    margin-left: -70px;
    background-color: #ffffff;
  
}
.beverage{
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: bold;
}